*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  height: 100vh;
  margin: 0;
  background: linear-gradient(#ffffff, #ffffff);
  display: flex;
  align-items: stretch; // ahora estira el contenido al alto total
  overflow: hidden; // evita scroll
}

.sidebar {
  background-color: white;
  width: max-content;
  border-radius: 10px;
  padding: 1.5rem 1rem; // reduce ligeramente
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &:hover .sidebar_element {
    grid-template-columns: 40px 1fr;
  }
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem; // ligeramente más compacto
}

.sidebar_element {
  padding: 0.6rem 1rem; // más compacto
  border-radius: 4px;
  align-items: center;
  grid-template-columns: 40px 0fr;
  display: grid;
  color: #526581;
  fill: #8491a5;
  transition: grid-template-columns 0.4s ease-in-out;
}

.sidebar_element:not(.sidebar_element--logo):hover {
  background-color: #007AFF;
  color: #fff;
  fill: #fff;
  cursor: pointer;
}

.sidebar_icon {
  width: 100%;
  overflow: hidden;
  justify-self: center;
}

.sidebar_icon--logo {
  max-width: 30px;
}

.sidebar_icon--avatar {
  width: 36px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar_logo,
.sidebar_text {
  padding-left: 1rem;
}

.sidebar_hide {
  overflow: hidden;
}

.sidebar_element--avatar {
  margin-top: auto;
  text-wrap: nowrap;
  text-align: left;
}

.sidebar_tittle,
.sidebar_info {
  padding-left: 1rem;
}
